.btn {

	width: 21.2rem;
	height: 4.5rem;
	border-radius: 0.5rem;
	color: #fff;
	margin: 0;
	padding: 0;
	border: 0;
	line-height: 100%;
	outline: none;
	
	a {
		width: 100%;
		height: 100%;
		color: $btn-color;
		text-decoration: none;
		font-family: $font-bold;
		font-size: $btn-font-size;
	}

	&-01 {
		background-color: $btn-01-color;

		&:hover {
		    background-color: $btn-01-color-hover;
		}

		&:active {
		        background-color: $btn-01-color-active;
		}
	}
	&-02 {
		background-color: $btn-02-color;

		&:hover {
		    background-color: $btn-02-color-hover;
		}

		&:active {
		        background-color: $btn-02-color-active;
		}
	}
	&-03 {
		background-color: $btn-03-color;

		&:hover {
		    background-color: $btn-03-color-hover;
		}

		&:active {
		        background-color: $btn-03-color-active;
		}
	}
	&-04 {
		background-color: $btn-04-color;

		&:hover {
		    background-color: $btn-04-color-hover;
		}

		&:active {
		        background-color: $btn-04-color-active;
		}
	}
}
