@font-face {

font-family: 'Ubuntu bold';
     src: url('fonts/Ubuntu-B.ttf');
     font-style: normal;
}
@font-face {

font-family: 'Ubuntu bold';
     src: url('fonts/Ubuntu-BI.ttf');
     font-style: italic;
}
@font-face {

font-family: 'Ubuntu medium';
     src: url('fonts/Ubuntu-M.ttf');
     font-style: normal;
}
@font-face {

font-family: 'Ubuntu  medium';
     src: url('fonts/Ubuntu-MI.ttf');
     font-style: italic;
}

@font-face {

font-family: 'Ubuntu regular';
     src: url('fonts/Ubuntu-R.ttf');
     font-style: normal;
}
@font-face {

font-family: 'Ubuntu regular';
     src: url('fonts/Ubuntu-RI.ttf');
     font-style: italic;
}

@font-face {

font-family: 'Ubuntu light';
     src: url('fonts/Ubuntu-L.ttf');
     font-style: normal;
}
@font-face {

font-family: 'Ubuntu light';
     src: url('fonts/Ubuntu-LI.ttf');
     font-style: italic;
}