/* List styles */
.ol {
    margin-left: 0;
    padding-right: 0;
    list-style-type: none;
}
.ol li {
    counter-increment: step-counter;
    line-height: $ol-line-height;
}

.ol li::before {
	font-size: $ol-font-size;
	line-height: $ol-line-height;
    content: counter(step-counter)'. ';
    margin: 0;
    color: $li-color-mark;
    font-weight: bold;
    padding: ($text-line-height - $text-font-size)/2 .6rem 0 0;
}

.ul {
    margin-left: 0;
    padding-right: 20px;
    position: relative;
    list-style-type: none;
}
.ul li {
	position: relative;
	padding: 0 0 0 1.5rem;
	line-height: $ul-line-height;
}


.ul li::before {
	line-height: $ul-line-height;
	content: '';
	position: absolute;
	display: block;
	width: .5rem;
	height: .5rem;
	border-radius: 100%;
	background-color: $li-color-mark;
	top: ($text-line-height - .5rem)/2;
	left: .1rem;
}
/* List styles END*/




