/* Header styles */

h1 {
	font-family: $font-bold;
	font-size: $h1-font-size;
	line-height: $h1-font-size * $coef;
}
h2 {
	font-family: $font-bold;
	font-size: $h2-font-size;
	line-height: $h2-font-size * $coef;
}

h3 {
	font-family: $font-medium;
	font-size: $h3-font-size;
	line-height: $h3-font-size * $coef;
}

h4 {
	font-family: $font-medium;
	font-size: $h4-font-size;
	line-height: $h4-font-size * $coef;
}

h5 {
	font-family: $font-medium;
	font-size: $h5-font-size;
	line-height: $h5-font-size * $coef;
}
/* Header styles END */
/* Links styles */
a {
	font-family: $font-regular;	
	color: $link-color;
	font-size: $text-font-size;
	line-height: $text-line-height;
	// &:hover {
	// 	color: $link-color;
	// }
	// &:active {
	// 	color: $link-color;
	// }
	// &:visited {
	// 	color: $link-color;
	// }
}
p {
	font-family: $font-regular;	
	color: $text-color;
	font-size: $text-font-size;
	line-height: $text-line-height;
}
strong {
	font-family: $font-bold;	
}
em {
	font-family: $font-regular;
	font-style: italic;
}

/* Links styles END */



