// Buttons 
$btn-01-color: #e74c3c;
$btn-01-color-hover: #ec7063;
$btn-01-color-active: #c54133;
$btn-02-color: #1abc9c;
$btn-02-color-hover: #48c9b0;
$btn-02-color-active: #16a085;
$btn-03-color: #3498db;
$btn-03-color-hover: #5dade2;
$btn-03-color-active: #2c81ba;
$btn-04-color: #34495e;
$btn-04-color-hover: #5d6d7e;
$btn-04-color-active: #2c3e50;
$btn-font-size: 1.7rem;
$btn-color: #fff;
//Buttons END
//Links
$link-color: #16a085;
$text-font-size: 1.4rem;
$text-line-height: 2rem;
$text-color: #34495e;
$li-color-mark: #3464a7;
$ol-font-size: 1.4rem;
$ol-line-height: 2.1rem;
$ul-line-height: 2.1rem;

//Links END
//Headers
$h1-font-size: 3.2rem;
$h2-font-size: 2.6rem;
$h3-font-size: 2.4rem;
$h4-font-size: 1.6rem;
$h5-font-size: 1.3rem;
$coef: 1.42;
//Headers END
//Fonts
$font-bold: 'Ubuntu bold';
$font-medium: 'Ubuntu medium';
$font-regular: 'Ubuntu regular';
$font-light: 'Ubuntu light';
//Fonts end
// Tables styles
$table-border-color: #e8e8e8;
$th-bg-color: #2c3e50;
$td-color: #626262;
$th-color: #fff;
$tr-bg-color-odd: #ededed;
$tr-bg-color-even: #fff;
$table-border-radius: 0.6rem;
$table-font-size: 1.4rem; 
$table-cell-height: 4rem;
$table-lf-rt-padding: 3.2rem;
// Tables styles END
// Inputs styles
$input-text-height: 4rem;
$input-text-width: 21.2rem;
$input-text-border-radius: 0.5rem;
$input-text-lf-rt-padding: 1.1rem;
$input-text-font-size: 1.4rem;
$input-text-line-height: 2rem;
$input-text-color: #949faa;
$input-text-color-focus: #c8cdd1;
$input-text-color-invalid: #e74c3c;
$input-text-color-disabled: #c8cdd1;
$input-text-border-color: #dee1e3;
$input-text-border-color-focus: #1abc9c;
$input-text-border-color-invalid: #e74c3c;
$input-text-bg-border-color-invalid: #ebedee;
$input-radio-text-color: #2c3e50;
$input-radio: #d7dcde;
$input-radio-checked: #1abc9c;
$input-radio-font-size: 1.4rem;
$input-radio-line-height: 2rem;
$input-checkbox-text-color: #2c3e50;
$input-checkbox: #d7dcde;
$input-checkbox-checked: #1abc9c;
$input-checkbox-font-size: 1.4rem;
$input-checkbox-line-height: 2rem;
// Inputs styles END
$col: #3ae6ca;
